extends templates/page.pug 
block prepend header
  - let word = "ABOUT";
block content
  h1.pageTitle ABOUT
  p austine is a high school junior in howard county, maryland.
  h2.sectionTitle Contact
  p 
