extends templates/page.pug 
block prepend header
  - let word = "HOME";
block content
  h1.name austine
  p.text hello! this is my portfolio site. enjoy!
  h2.sectionTitle contents
  ul.text
   li hey auds
   li tysm for teaching me pug :))
   li 
    a(href="about.pug") about
   li 
    a(href="https://www.w3schools.com/js/js_arrays.asp" target="_blank") dog
  img(id="dog",src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg")
