doctype html
head 
  block header
    html(lang="en")
    meta(charset="UTF-8")
    title #{word}
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="styles/main.css ")
body
  block content
